<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password reset sent</title>

    <style media="screen">
      .i {
        padding:20px;
        font-size:18px;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="i">

      <h3>Password reset sent</h3>


      <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

      <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

    </div>

  </body>
</html>
